h1{
	text-align: center;
}

header{
	background-color: pink;
	color: black;
}

.nav{
	background-color: lightcoral;
	color: black;
	text-decoration: none;
	padding: 5px;
	border-radius: 5px;
}

footer{
	background-color: pink;
	color: black;
	text-align: center;
	margin-top: 10px;
}